<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<th:block th:insert="page-layout-template :: header('Projekt L06 - Zarządzanie klientami', 'Zarządzanie klientami')"></th:block>

<section id="content">
    <div class="container">
        <table style="border: 1px solid white; margin: 0 auto;">
            <thead>
                <th style="border: 1px solid white;">Imię</th>
                <th style="border: 1px solid white;">Nazwisko</th>
                <th style="border: 1px solid white;">E-mail</th>
                <th style="border: 1px solid white;">Numer telefonu</th>
                <th style="border: 1px solid white;">Komentarz</th>
            </thead>
            <tbody>
                <tr th:each="customer: ${customers}">
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.comment}"></td>
                    <td><a style="color: red;" th:href="@{'customers/' + ${customer.idCustomer} + '/delete'}">Usuń</a></td>
                    <td><a th:href="@{'customers/' + ${customer.idCustomer} + '/edit'}">Edytuj</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{customers/new}" class="center">Dodaj</a>
    </div>
</section>
</body>
</html>