<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<th:block th:insert="page-layout-template :: header('Projekt L06 - Zarządzaj przeprowadzającymi wizyty', 'Zarządzanie przeprowadzającymi wizyty')"></th:block>



<section id="content">
    <div class="container">
        <table style="border: 1px solid white; margin: 0 auto;">
            <thead>
                <th style="border: 1px solid white;">Imię</th>
                <th style="border: 1px solid white;">Nazwisko</th>
            </thead>
            <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td><a style="color: red;" th:href="@{'employees/' + ${employee.idEmployee} + '/delete'}">Usuń</a></td>
                    <td><a th:href="@{'employees/' + ${employee.idEmployee} + '/edit'}">Edytuj</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{employees/new}" class="center">Dodaj</a>
    </div>
</section>
</body>
</html>