<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<th:block th:insert="page-layout-template :: header('Projekt L06 - System Zarządzania Wizytami', 'System Zarządzania Wizytami')"></th:block>

<section id="content">
    <div class="container">
        <p class="center">Aplikacja umożliwiająca zarządzanie wizytami różnego rodzaju firm.</p>
    </div>
</section>

</body>
</html>